
#cms-control { position:fixed; z-index:95; left:0; top:0; }
#cms-control div { width:32px; height:32px; margin:5px; cursor:pointer; }
#cms-control .edit { background:url(/web/cms/control-edit.gif) no-repeat; }
#cms-control .done { background:url(/web/cms/control-done.gif) no-repeat; }
#cms-control .version { background:url(/web/cms/control-version.gif) no-repeat; }
#cms-control .exit { background:url(/web/cms/control-exit.gif) no-repeat; }

.cms-anchor { display:none; height:12px; width:80px; position:absolute; cursor:pointer; z-index:90; }
.cms-anchor .icon { height:12px; width:10px; float:left; background:url(/web/cms/anchor-bullet.gif) no-repeat center; }
.cms-anchor .text { height:12px; width:64px; float:left; text-align:center; color:#F00F00; font:normal 10px Tahoma; background-color:#FFFFFF; padding:0 2px 0 2px;}
.cms-anchor .drop { padding-top:12px; background-color:#E5E5E5; display:none; }
.cms-anchor .drop .cell { text-align:center; color:#A00A00; font:normal 10px Tahoma; padding:2px; height:12px; }
.cms-anchor .drop .cell:hover { background-color:#FFFFFF; }
.cms-anchor .drop .mod-kv.even, .cms-anchor .drop .mod-kv0.even { width:35px; }
.cms-anchor .drop .mod-kv.odd, .cms-anchor .drop .mod-kv0.odd { margin-top:-16px; margin-left:45px; }

#cms-text-frame .text { width:98%; height:98%; text-align:center; }
#cms-text-frame .text textarea { width:100%; height:100%; border:1px solid #1A678C; }

#cms-picture-frame .canvas { width:100%; height:90%; }
#cms-picture-frame .canvas img { border:1px solid #1A678C; }
#cms-picture-frame .upload { width:100%; height:10%; text-align:center; }
#cms-picture-frame .upload input { margin-top:5px; }

#cms-file-frame .link { width:100%; height:90%; text-align:center; }
#cms-file-frame .link a { text-decoration:none; color:#1A678C; font-weight:bold; position:relative; top:100px; }
#cms-file-frame .link a:hover { text-decoration:underline; }
#cms-file-frame .upload { width:100%; height:10%; text-align:center; }
#cms-file-frame .upload input { margin-top:5px; }

#cms-pageidx { position:absolute; top:10px; margin-left:440px; }

.cms-holder { height:0 !important; width:0 !important; position:absolute !important; }

#cms-lang-menu li.flag-xx1 a { background-image: url(web/cms/icon-flag-uk.gif); }
#cms-lang-menu li.flag-xx2 a { background-image: url(web/cms/icon-flag-ru.gif); }
