.pagination * { display:inline-block; }
.pagination .gap,
.pagination a { text-align:center; width:2em; height:1.2em; text-align:center; text-decoration:none; color:#0000cc; }
.pagination .gap::after { content: "..." }
.pagination .next { /* css::class { css = theme; class = .ui-icon, .ui-icon-circle-arrow-e } */ }
.pagination .prev { /* css::class { css = theme; class = .ui-icon, .ui-icon-circle-arrow-w } */ }
.pagination a.current { font-weight:bold; font-size:1.2em; }
.pagination a:hover { font-weight:bold; }
