.sortcolumn { border:0 !important; /* css::class { css = theme; class = .color-ui-widget-header } */ }
.sortcolumn { height:1.2em; clear:both; }
.sortcolumn p,
.sortcolumn a { display:inline-block; padding:5px; margin:0; font-size:14px; text-decoration:none; /* css::class { css = theme; class = .color-x-title } */ }
.sortcolumn .arrow.asc { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-s } */ }
.sortcolumn .arrow.asc { vertical-align:top; display:inline-block; }
.sortcolumn .arrow.desc { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-n } */ }
.sortcolumn .arrow.desc { vertical-align:top; display:inline-block; }
