
#content .domains p { margin-left:140px; }
#content .position input { width:50px; }
#content .picture img { margin-left:140px; max-width:475px; }
#content .language input[type=checkbox] { float:left; }
#content .language .flag { width:27px; height:17px; margin:2px 10px 0 0; float:left; }
#content .language .flag.en { background:url(/web/icon-flag-uk.gif) no-repeat; }
#content .language .flag.ru { background:url(/web/icon-flag-ru.gif) no-repeat; }

#content .form-panel .cell .option-row { margin-left:140px; }
#content .form-panel .cell .option-row * { font-size:11px; }
#content .form-panel .cell .option-row .option { float:left; padding:0 2px 0 2px; width:175px; }
#content .form-panel .cell .option-row input[type=checkbox] { float:left; }
#content .form-panel .cell .option-row input[type=text] { margin:2px 15px 2px 10px; float:right; width:25px; }
#content .form-panel .cell .option-row select { margin:2px 15px 2px 10px; float:right; width:50px; }
#content .form-panel .cell .option-row p { float:left; margin:2px 0 0 2px; }

#content .form-panel .cell.zone .option-row .option { width:69px; }

.navigation-pane .delete { background-image:url(/web/banner/smallnav-deletebanner.png); }
