
.navigation-pane .add { background-image:url(/web/banner/smallnav-addbanner.png); }

#banner-list { margin-top:10px; }

.item-list .column-1 { width:100px; overflow:hidden; white-space:nowrap; }
.item-list .column-2 { width:200px; overflow:hidden; white-space:nowrap; }
.item-list .column-3 { width:308px; overflow:hidden; white-space:nowrap; }

.item-list .rows .data { height:30px; }
.item-list .rows p { height:20px; float:left; padding:5px; }
