<!-- Collection of slots which must be parsable -->

<!-- X-GET-DATE 10/10/2015 13:12:55 -->

<table border="0" cellspacing="1" width="950" bgcolor="#C0A584">

<!-- logged in, table 1st row -->
<tr>
  <td align="center"
      bgcolor="#5d4517"
      style="color:white;font-size:12px;font-weight:normal;height:29px"
      width="100%">
    Denham Lake
    <br />
    <a rel="tooltip" title="Click here to select a view of the week for this activity."
       style="float:left;padding-left:2px;padding-bottom:2px;text-decoration:none;"
       href="reportActions.php?action=WeekView&areaID=10089&showDate=31-10-2015">
      <img src="images/W.gif" border="0" width="28" height="14" />
    </a>
  </td>
</tr>

<!-- logged in, disabled slot -->
<tr>
  <td style="font-size:12px;background:#C0C0C0;"
      name="cell_2015-10-10 09:00:00|10089"
      id="cell_2015-10-10 09:00:00|10089">
    <div style="float:left;height:30px;margin-right:4px;">09:00</div>
    <div style="height:35px;overflow:hidden;">SWIMMING</div>
  </td>
</tr>

<!-- logged in, slot which can be booked (with checkbox in it) -->
<tr>
  <td style="font-size:12px;background:#FBF5E7;cursor: pointer;"
      onmouseover="this.style.background='#FABE57'"
      onmouseout="changeColour('2015-10-31 10:12:00|10089');"
      onclick="selectBookingSession('2015-10-31 10:12:00|10089');"
      name="cell_2015-10-31 10:12:00|10089"
      id="cell_2015-10-31 10:12:00|10089">
    <div style="float:left;height:30px;margin-right:4px;">10:12<br /> &nbsp; <input style="visibility:hidden;" class="hiddenTickbox" style="margin:0px" type="checkbox" id="session_2015-10-31 10:12:00|10089" name="session_2" value="2015-10-31 10:12:00|10089|EE548809|0" /></div>
    <div style="height:35px;overflow:hidden;"></div></td>
</tr>

<!-- logged in, slot which already booked -->
<tr>
  <td style="font-size:12px;background:#C0C0C0;" >
    <div style="float:left;height:30px;margin-right:4px;">11:00</div>
    <div style="height:35px;overflow:hidden;"><i>Booked</i></div>
  </td>
</tr>

<!-- logged in, slot which can be booked -->
<tr>
  <td style="font-size:12px;background:#C0C0C0;"
      name="cell_2015-10-10 11:12:00|10089"
      id="cell_2015-10-10 11:12:00|10089">
    <div style="float:left;height:30px;margin-right:4px;">11:12</div>
    <div style="height:35px;overflow:hidden;"></div>
  </td>
</tr>

<!-- logged in, booked slot which can be cancelled -->
<tr>
  <td style="font-size:12px;background:#C0C0C0;"
      name="cell_2015-10-10 13:00:00|10089"
      id="cell_2015-10-10 13:00:00|10089">
    <div style="float:left;height:30px;margin-right:4px;">13:00</div>
    <div style="height:35px;overflow:hidden;">Sergei<br /><span style="font-weight:normal"></span></div>
  </td>
</tr>

<!-- logged out, slot is too far ahead -->
<tr>
  <td style="font-size:12px;background:#C0C0C0;" >
    <div style="float:left;height:30px;margin-right:4px;">20:48</div>
    <div style="height:35px;overflow:hidden;"><span style="color:#F0F0F0;font-weight:normal"><i>Too far ahead to book.</i></span></div>
  </td>
</tr>

<!-- logged out, table last row -->
<tr>
  <td align="center"
      bgcolor="#5d4517"
      style="color:white;font-size:12px;font-weight:normal;height:29px"
      width="100%">
    Denham Lake
  </td>
</tr>

</table>