
/* strip::comments */

/* css::import

   { path = web/theme/deepblue-1.12.1; css = jquery-ui }

   { path = web/endorsed/qtip2-20170510; css = jquery.qtip.min }

   { path = web/endorsed/context-menu-1.01; css = jquery.contextMenu }

*/


/* Extracted component colors and common colors */

.color-x-text { color:#333333; }
.color-x-title { color:#eaf5f7; }
.color-x-label { color:#04698f; }
.color-x-border { border-color: #a6c9e2; }
.color-x-input-border { border-color:#0789BA; }
.color-x-background { background-color:#ffffff; }
.color-x-background-even { background-color:#E1F9FF; }
.color-x-header-background { background-color:#2191c0; }
.color-x-tabs-header-border { border-color:#2191c0; } /* matches header-background */
.color-x-text-hover-background { background-color:#2191c0; }
.color-x-text-hover { }
.color-x-error { color:#cd0a0a; }




/* Extracted from jquery-ui.css */

/* Component containers
----------------------------------*/
.color-ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd url("ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x; color: #222222; }
.color-ui-widget-content a { color: #222222; }
.color-ui-widget-header { border: 1px solid #4297d7; background: #2191c0 url("ui-bg_gloss-wave_75_2191c0_500x100.png") 50% 50% repeat-x; color: #eaf5f7; }
.color-ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.color-ui-state-default, .color-ui-widget-content .color-ui-state-default, .color-ui-widget-header .color-ui-state-default { border: 1px solid #77d5f7; background: #0078ae url("ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x; color: #ffffff; }
.color-ui-state-default a, .color-ui-state-default a:link, .color-ui-state-default a:visited { color: #ffffff; }
.color-ui-state-hover, .color-ui-widget-content .color-ui-state-hover, .color-ui-widget-header .color-ui-state-hover, .color-ui-state-focus, .color-ui-widget-content .color-ui-state-focus, .color-ui-widget-header .color-ui-state-focus { border: 1px solid #448dae; background: #79c9ec url("ui-bg_glass_75_79c9ec_1x400.png") 50% 50% repeat-x; color: #026890; }
.color-ui-state-hover a, .color-ui-state-hover a:hover { color: #026890; }
.color-ui-state-active, .color-ui-widget-content .color-ui-state-active, .color-ui-widget-header .color-ui-state-active { border: 1px solid #acdd4a; background: #6eac2c url("ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x; color: #ffffff; }
.color-ui-state-active a, .color-ui-state-active a:link, .color-ui-state-active a:visited { color: #ffffff; }

/* Interaction Cues
----------------------------------*/
.color-ui-state-highlight, .color-ui-widget-content .color-ui-state-highlight, .color-ui-widget-header .color-ui-state-highlight { border: 1px solid #fcd113; background: #f8da4e url("ui-bg_glass_55_f8da4e_1x400.png") 50% 50% repeat-x; color: #915608; }
.color-ui-state-highlight a, .color-ui-widget-content .color-ui-state-highlight a,.color-ui-widget-header .color-ui-state-highlight a { color: #915608; }
.color-ui-state-error, .color-ui-widget-content .color-ui-state-error, .color-ui-widget-header .color-ui-state-error { border: 1px solid #cd0a0a; background: #e14f1c url("ui-bg_gloss-wave_45_e14f1c_500x100.png") 50% top repeat-x; color: #ffffff; }
.color-ui-state-error a, .color-ui-widget-content .color-ui-state-error a, .color-ui-widget-header .color-ui-state-error a { color: #ffffff; }
.color-ui-state-error-text, .color-ui-widget-content .color-ui-state-error-text, .color-ui-widget-header .color-ui-state-error-text { color: #ffffff; }
.color-ui-priority-secondary, .color-ui-widget-content .color-ui-priority-secondary,  .color-ui-widget-header .color-ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); }
.color-ui-state-disabled, .color-ui-widget-content .color-ui-state-disabled, .color-ui-widget-header .color-ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/
.ui-icon { background-image: url("ui-icons_0078ae_256x240.png"); }
