
#entries-list .column-1 { width:150px; overflow:hidden; white-space:nowrap; }
#entries-list .column-2 { width:100px; }
#entries-list .column-3 { width:100px; overflow:hidden; white-space:nowrap; }
#entries-list .column-4 { width:140px; }
#entries-list .column-5 { width:80px; }
#entries-list .column-6 { width:100px; }
#entries-list .column-7 { width:100px; }
#entries-list .column-8 { width:48px; }

#entries-list .rows .data { height:30px; }
#entries-list .rows p { height:20px; float:left; padding:5px; }
#entries-list .rows .active { margin-left:10px; /* css::class { css = theme; class = .ui-icon, .ui-icon-check } */ }
#entries-list .rows .inactive { margin-left:10px; /* css::class { css = theme; class = .ui-icon, .ui-icon-cancel } */ }

#entries-list .filter .ref { width:145px; margin-right:7px; }
#entries-list .filter .pack { width:95px; margin-right:7px; }
#entries-list .filter .username { width:100px; margin-right: 460px; }
