
#entries-list .column-1 { width:150px; overflow:hidden; white-space:nowrap; }
#entries-list .column-2 { width:100px; }
#entries-list .column-3 { width:240px; overflow:hidden; white-space:nowrap; }
#entries-list .column-4 { width:140px; overflow:hidden; white-space:nowrap; }
#entries-list .column-5 { width:100px; }
#entries-list .column-6 { width:100px; }

#entries-list .rows .data { height:30px; }
#entries-list .rows p { height:20px; float:left; padding:5px; }

#edit-frame .form-panel { border:0; padding:10px 0 0 0; }

#context-navigation .add { background-image:url(/web/payment-cp/entry-smallnav-add.png); }
#context-navigation .push { background-image:url(/web/payment-cp/entry-smallnav-push.png); }
