
/* css::import

   { path = web/pages/other; css = wiki }

*/

#content .article-list { padding-top:25px; }
#content .article-list li { padding:2px 0 2px 5px; }
#content .article-list a { text-decoration:none; font-size:14px; color:#fff; }
#content .article-list a:hover { color:#63A600; }
