
#content .wiki-article-title { padding:10px 0 10px 0; margin:0; font:24px Georgia; color:#fff; }
#content .wiki-article-title span a { atext-decoration:none; float:right; margin:5px; font:18px Georgia; color:#fff; }

#content .wiki-article-text { font-size:14px; background:#fff; color:#000; border-radius:8px; padding:10px; }
#content .wiki-article-text a { text-decoration:none; color:#04698f; }
#content .wiki-article-text a:hover { text-decoration:underline; }
#content .wiki-article-text h1 { padding:10px 0 10px 0; margin:0; font:22px Georgia; color:#04698f; }
#content .wiki-article-text h2 { padding:0; margin:8px 0 2px 0; font:18px Tahoma; color:#04698f; }
#content .wiki-article-text h3 { padding:0; margin:4px 0 0 0; font:16px Tahoma; color:#04698f; }
#content .wiki-article-text p { padding:2px 0 4px 0; }
#content .wiki-article-text pre { font-size:11px; }

#content .wiki-article-items { margin:20px 0 0 0; }
#content .wiki-article-items ul { margin:10px; }
#content .wiki-article-items a { text-decoration:none; font-size:14px; color:#fff; }
#content .wiki-article-items a.private { color:#C43500; }
#content .wiki-article-items a:hover { color:#63A600; }

#wiki-search { padding:15px 10px 0 10px; }
#wiki-search p { height:24px; }
#wiki-search input { border:1px solid #0789BA; width:160px; height:20px; afont-size:14px; }
#wiki-search button { float:right; width:60px; height:24px; border:1px solid #0789BA; color:#0789BA; }
