#content .details { text-align:center; padding:5em 0 0 0; }
#content .details p { font-weight:bold; font-size:1.2em; }
#content .details p span { margin-left:2em; }
#content .details h2 { padding:1em 0 3em 0; }
#content .details h2 span { margin-left:2em; }

#content .checkout-paypal { text-align:center; padding:1em; }
#content .checkout-paypal .status { font-size:1.2em; }

#content .payment-status { font-size:1.2em; text-align:center; }
