
.form-panel { border:0; background:transparent; }
.form-panel .cell { clear:none; }
.form-panel .cell label { color:#333333; }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { border-color:#858d66; height:20px; font-size:14px; }
.form-panel .cell textarea { height:300px; }
