
#content #product-list { padding:10px 0 10px 10px; }
#content #product-list .data-item { padding:5px; margin:0 30px 10px 0; float:left; border:1px solid #2c4213; border-radius:8px; height:160px; background:#dad295; }
#content #product-list .data-item img { width:180px; }
#content #product-list .data-item a { text-decoration:none; }
#content #product-list .data-item p { text-align:center; }
#content #product-list .data-item p.name { font-size:14px; letter-spacing:1px; width:140px; }

#content #product-list .data-item .price { position:absolute; margin:120px 0 0 120px; }
#content #product-list .data-item .price .arr { float:right; border-top:15px solid transparent; border-bottom:15px solid transparent; border-right:15px solid #7c2634; }
#content #product-list .data-item .price .txt { float:right; background:#7c2634; display:block; height:22px; padding:4px; color:#fff; font-size:16px; width:60px; }

#content #product-list .data-item .dscprice { position:absolute; margin:115px 0 0 120px; }
#content #product-list .data-item .dscprice .arr { float:right; border-top:20px solid transparent; border-bottom:20px solid transparent; border-right:20px solid #C43500; }
#content #product-list .data-item .dscprice .txt { float:right; background:#C43500; display:block; height:38px; padding:2px 4px 0 0; color:#fff; font-size:16px; width:60px; }
#content #product-list .data-item .dscprice span { display:block; }
#content #product-list .data-item .dscprice span:first-child { text-decoration:line-through; font-size:12px; color:#ddd; }
