@import "/theme.css";

/* strip::comments */


/* Common style */

html, body { margin:0; padding:0; border:0; }
body { margin:10px auto; width:1180px; background:#2c4213; font:12px Tahoma, Arial, Helvetica, sans-serif; /* css::class { css = theme; class = .color-x-text } */ }
ul, ol { padding:0 0 0 30px; margin:0; }
p, form, select { margin:0; padding:0; }
input[type=text], input[type=password], textarea { margin:0; padding:1px 0 1px 0; }
a { text-decoration:underline; /* css::class { css = theme; class = .color-x-text } */ }

h1 { padding:10px 0 10px 0; margin:0 0 10px 0; font:24px Georgia; color:#6b0000; }
h2 { padding:0; margin:8px 0 2px 0; font:24px Tahoma; }
h3 { padding:0; margin:4px 0 0 0; font:20px Tahoma; }

.nofloat { clear:both; font-size:0; height:0; width:0; }
.normal-gap { height:10px; width:10px; }


/* Main layout */

#mainmenu { background:#d1d7b1; margin:10px 0 10px 0; height:50px; }
#mainmenu a { float:left; text-decoration:none; padding:5px 10px 5px 10px; margin:10px 10px 0 10px; font-size:16px; }
#mainmenu a:hover, #mainmenu .highlight { background:#edc70a; color:#6b0000; }

header { background-color:#21360d; height:140px; }
header h1 { padding:30px 10px 0 10px; margin:0; font:48px "Trebuchet MS"; color:#d1d7b1; letter-spacing:2px; font-style:italic; }
header h2 { padding:0 10px 10px 50px; margin:0; font:24px "Trebuchet MS"; color:#d1d7b1; font-style:italic; }
header .logo { padding:0 0 0 170px; height:150px; width:450px; background:url(/web/logo.png) 20px 10px no-repeat; cursor:pointer; }

footer { height:50px; clear:both; background:#21360d; border-radius:0 0 8px 8px; }
footer .copyright { float:left; margin:15px 0 0 20px; color:#d1d7b1; font-size:14px; }
footer .vendor { display:block; width:150px; height:28px; background:url(/etc/banner150x28-1.gif) no-repeat; float:right; margin:10px 10px 0 0; }
footer .vendor * { border:none; }

#wrapper { background:#d1d7b1; }

#content { width:900px; padding:10px; margin:0; min-height:480px; color:#333333; font-size:16px; }
#content a, #content .link { color:#a2122f; text-decoration:none; }

#right-column { width:250px; float:right; min-height:300px; }
#right-column .ebay { display:block; margin:10px 0 0 0; width:100%; height:100px; background:url(/web/ebay-store.png) no-repeat; background-size:240px; }

#no-object { padding-top:50px; text-align:center; }
#no-object button { margin-top:40px; }

#ajax-frame { display:none; float:right; padding:10px 10px 0 0; }
#ajax-frame div { width:32px; height:32px; background:url(/web/ajax-img.gif?) no-repeat; }
#ajax-frame p { letter-spacing:4px; font-size:16px; font-weight:bold; padding:4px 0 5px 0; }

#favourites { background:#a0a68f; display:none; margin:20px 0 0 50px; width:180px; border-radius:10px 10px 0 0; }
#favourites * { text-decoration:none; border:0; text-align:center; }
#favourites .title { background:#858d66; text-align:center; font-size:16px; padding:2px; border-radius:10px 10px 0 0; }
#favourites .remove-all,
#favourites .add,
#favourites .remove { padding:2px; display:block; font-weight:bold; }
#favourites .remove-all:hover,
#favourites .add,
#favourites .remove:hover { background:#858d66; }
#favourites .list .data { padding:5px 0 5px 0; }
#favourites .list .data img { width:170px; }

/* label-input panel */
.form-panel { border:1px solid; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.form-panel { padding:10px; }
.form-panel .cell { padding:0 0 10px 0; clear:both; }
.form-panel .cell label { width:135px; float:left; margin-right:5px; /* css::class { css = theme; class = .color-x-label } */ }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { width:733px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
.form-panel .cell input[type=radio],
.form-panel .cell input[type=checkbox] { width:20px; border:0; }
.form-panel .cell textarea { height:80px; vertical-align:text-top; }
.form-panel .cell.submit { padding:10px 0 0 0; text-align:center; }
.form-panel .cell .error { padding:0 0 0 150px; width:723px; font-weight:normal; display:none; /* css::class { css = theme; class = .color-x-error } */ }
.form-panel .cell.turing img { float:left; margin-right:40px; }
.form-panel .cell.turing input { width:160px; }
