
#gallery-panel { display:none; padding-top:20px; }
#gallery-panel .list .face-item { float:left; text-align:center; width:440px; height:360px; }
#gallery-panel .list .face-item img { height:320px; border-radius:10px; border:2px solid #858d66; }
#gallery-panel .list .face-item.odd img { float:left; }
#gallery-panel .list .face-item.even img { float:right; }
#gallery-panel .list .face-item.layout2.odd img,
#gallery-panel .list .face-item.layout2.even img,
#gallery-panel .list .face-item.layout3.odd img,
#gallery-panel .list .face-item.layout3.even img { float:none; }
#gallery-panel .list .face-item.layout3 { width:640px; padding-left:5px; }
#gallery-panel .list .face-item p { overflow:hidden; text-align:center; clear:both; }
#gallery-panel .more button { float:right; margin:0 15px 10px 0; }

#content h1 { padding:0; float:left; }

#content .icons { display:none; float:right; padding-right:20px; }
#content .icons a { display:block; width:48px; height:48px; float:left; margin-left:20px; }
#content .icons .fav-add { background:url(/web/fav-add.png) no-repeat; }
#content .icons .fav-remove { background:url(/web/fav-remove.png) no-repeat; }

#content .about { clear:left; padding:15px 10px 10px 10px; }

#content .madeof { padding:10px; }
#content .madeof span { font-size:14px; color:#6b0000; }

#content .price { padding:0 0 10px 10px; }
#content .price span { font-size:14px; color:#6b0000; }

#content .stock { padding:0 0 10px 10px; }
#content .stock .in { color:#39461b; }
#content .stock .out { color:#a2122f; }
