
.navigation-pane .edit-details { background-image:url(/web/account-nav-details.gif); }
.navigation-pane .change-password { background-image:url(/web/account-nav-password.gif); }
.navigation-pane .view-messages { background-image:url(/web/account-nav-messages.gif); }
.navigation-pane .customize-website { background-image:url(/web/account-nav-cms.gif); }
.navigation-pane .user-cp { background-image:url(/web/account-nav-users.gif); }
.navigation-pane .setting-cp { background-image:url(/web/account-nav-settings.gif); }
.navigation-pane .label-cp { background-image:url(/web/account-nav-labels.gif); }
.navigation-pane .file-cp { background-image:url(/web/account-nav-files.gif); }
.navigation-pane .payment-cp { background-image:url(/web/account-nav-payments.png); }
.navigation-pane .node-cp { background-image:url(/web/account-nav-nodes.png); }
.navigation-pane .spam-cp { background-image:url(/web/account-nav-spam.gif); }
.navigation-pane .sys-messages { background-image:url(/web/account-nav-sysmessages.gif); }

.navigation-pane .pack-toyshop { background-image:url(/web/toyshop/account-nav.png); }
.navigation-pane .pack-wiki { background-image:url(/web/wiki/account-nav.png); }
.navigation-pane .pack-banner { background-image:url(/web/banner/account-nav.png); }
