<#import "/web/common.ftl" as c >
<#import "/web/common-htm.ftl" as htm >
<#include "/web/macros.ftl:"+currentSite >

<h1>STUB</h1>

<p><@h.boxProperty property="date" /></p>
<p><@h.boxProperty property="mac" /></p>

