
#content .verbose { padding:20px 0 0 0; }
#content .caption { font-weight:bold; }
#content .verbose p { padding:0; clear:both; }
#content .verbose span { float:left; font-size:14px; }
#content .verbose span:first-child { width:100px; }
#content .verbose .offset { padding:10px 0 0 100px; }

#content .configuration a { display:inline-block; padding-right:20px; }
