
#content section { padding:0 0 10px 0; }
#content .event-date { font-size:14px; }

#content .source { float:left;  width:48%; }
#content .develop { float:right; width:48%; }
#content .events { float:left; width:48%; }
