@import "/theme.css";

/* strip::comments */

html, body { margin:0; padding:0; border:0; }
ul, ol { padding:0 0 0 30px; margin:0; }
p, form, select { margin:0; padding:0; }
input[type=text], input[type=password], textarea { margin:0; padding:1px 0 1px 0; }
a { text-decoration:underline; /* css::class { css = theme; class = .color-x-text } */ }

h1 { padding:10px 0 10px 0; margin:0 0 2px 0; font:26px Tahoma; color:#6b0000; }
h2 { padding:0; margin:8px 0 2px 0; font:24px Tahoma; color:#6b0000; }
h3 { padding:0; margin:4px 0 0 0; font:20px Tahoma; color:#6b0000; }

.nofloat { clear:both; font-size:0; height:0; width:0; }
.normal-gap { height:10px; width:10px; }

/* main layout */
body { border:10px solid rgba(0,0,0,0.3); border-radius:8px; margin:10px auto; width:1180px; background:url(/web/body-bg.png) repeat #473b0e; font:12px Tahoma, Arial, Helvetica, sans-serif; /* css::class { css = theme; class = .color-x-text } */ }

#mainmenu { background:#ddddaa; margin:10px 0 10px 0; height:50px; }
#mainmenu a { float:left; text-decoration:none; color:#333333; padding:5px 10px 5px 10px; margin:10px 10px 0 10px; font-size:16px; }
#mainmenu a:hover, #mainmenu .highlight { background:#DBCC63; color:#6b0000; }

header { height:150px; background:#DBCC63; border-radius:8px 8px 0 0; }
header h1 { padding:30px 10px 0 10px; margin:0; font:48px "Trebuchet MS"; color:#6b0000; letter-spacing:2px; }
header h2 { padding:0 10px 10px 50px; margin:0; font:24px "Trebuchet MS"; color:#333333; }
header .logo { padding:0 0 0 170px; height:150px; width:400px; background:url(/web/logo.png) 20px 10px no-repeat; cursor:pointer; }

footer { height:50px; clear:both; background:#544d03; border-radius:0 0 8px 8px; }
footer .copyright { float:left; margin:15px 0 0 20px; color:#eeeebb; font-size:14px; }
footer .vendor { display:block; width:150px; height:28px; background:url(/etc/banner150x28-1.gif) no-repeat; float:right; margin:10px 10px 0 0; }
footer .vendor * { border:none; }

#content { background:#eeeebb; width:900px; padding:10px; margin:0 0 10px 10px; min-height:480px; float:left; color:#333333; font-size:16px; }
#content a, #content .link { color:#a2122f; text-decoration:none; }
#content p { padding-bottom:5px; }
#content pre { font-size:14px; color:#000099; }

#left-column { background:#DBCC63; width:250px; min-height:500px; float:left; color:#333333; }
#left-column .donate { padding-top:50px; text-align:center; font-size:16px; }
#left-column .donate form { margin-top:10px; }
#left-column .updated { padding-top:50px; text-align:center; font-size:16px; }

#no-object { padding-top:50px; text-align:center; }
#no-object button { margin-top:40px; }
