
#content #upload-form { width:450px; }
#content #upload-form .expand { display:block; float:right; cursor:pointer; width:16px; height:16px; margin:2px 8px 0 0; background:url(/web/icon-add.gif) no-repeat; }
#content #upload-form .slide { display:none; }

#content .attachments { padding-top:20px; display:none; }
#content .attachments .item { padding:5px; margin:5px; float:left; border:1px solid #ccc; border-radius:8px; overflow:hidden; }
#content .attachments .item img { width:200px; }
#content .attachments .item a { display:block; margin-top:5px; text-decoration:none; text-align:center; }
#content .attachments .item input { position:absolute; margin:2px; }
#content .attachments button { margin-top:20px; }
