
#content .domains p { margin-left:140px; }
#content .text textarea { height:400px; width:100%; }

#content .scroll-pane { overflow: auto; width: 100%; float:left; margin-bottom:10px; }
#content .scroll-content { width: 2440px; float: left; }
#content .scroll-content-item { width: 70px; height: 70px; float: left; margin: 5px; line-height: 120px; text-align: center; font-weight:normal; font-size:10px; overflow:hidden; }
#content .scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
#content .scroll-bar-wrap .ui-slider { background: none; border:0; height: 15px; margin: 0 auto; }
#content .scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
#content .scroll-bar-wrap .ui-slider-handle { top:2px; height: 10px; }
#content .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

#content .items ul { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#content .items li { margin: 0 3px 3px 3px; padding: 2px; padding-left: 25px; font-size: 12px; height: 16px; cursor:move; color:#000; background:transparent; }
#content .items li span { position: absolute; margin-left: -20px; }
