
#add-frame .form-panel { border:0; padding:10px 0 0 0; }

#content #article-list { padding:10px 0 10px 10px; }
#content #article-list .data-item { padding:5px; margin:5px; float:left; border:1px solid #ccc; border-radius:8px; height:150px; cursor:pointer; }
#content #article-list .data-item img { width:100px; padding:0 20px }
#content #article-list .data-item a { text-decoration:none; }
#content #article-list .data-item p { text-align:center; }
#content #article-list .data-item p.name { font-size:14px; letter-spacing:1px; }

.navigation-pane .add-book { background-image:url(/web/wiki/smallnav-addbook.png); }
