
/* css::import

   { path = web/pages/cp/wiki; css = wiki }

*/

#content .article-list li { padding:2px 0 2px 5px; }
#content .article-list a { font-size:14px; text-decoration:none; }
#content .article-list a:hover { text-decoration:underline; }
