
/* css::import

   { path = web/pages/cp/wiki; css = wiki }

*/

#add-frame .form-panel { border:0; padding:10px 0 0 0; }

.navigation-pane .edit-article { background-image:url(/web/wiki/smallnav-editarticle.png); }
.navigation-pane .add-article { background-image:url(/web/wiki/smallnav-addarticle.png); }
.navigation-pane .delete-article { background-image:url(/web/wiki/smallnav-deletearticle.png); }
.navigation-pane .attachments { background-image:url(/web/wiki/smallnav-attachments.png); }
