
.wiki-article-title { padding:10px 0 10px 0; margin:0; font:24px Georgia; color:#04698f; }

.wiki-article-text { font-size:14px }
.wiki-article-text a { text-decoration:none; color:#04698f; }
.wiki-article-text a:hover { text-decoration:underline; }
.wiki-article-text h1 { padding:10px 0 10px 0; margin:0; font:22px Georgia; color:#04698f; }
.wiki-article-text h2 { padding:0; margin:8px 0 2px 0; font:18px Tahoma; color:#04698f; }
.wiki-article-text h3 { padding:0; margin:4px 0 0 0; font:16px Tahoma; color:#04698f; }
.wiki-article-text p { padding:2px 0 4px 0; }
.wiki-article-text pre { font-size:11px; }

.wiki-article-items { border:solid #04698f; border-width:1px 0 0 0; margin:20px 0 0 0; }
.wiki-article-items ul { margin:10px }
.wiki-article-items a { text-decoration:none; font-size:14px; color:#04698f; }
.wiki-article-items a.private { color:#C43500; }
.wiki-article-items a:hover { text-decoration:underline; }

#wiki-search { padding:0 5px 0 5px; }
#wiki-search p { font-weight:bold; font-size:14px;  color:#04698f; height:24px; }
#wiki-search input { border:1px solid;  border-color:#0789BA; width:160px; height:24px; font-size:14px; }
#wiki-search button { float:right; width:70px; height:28px; }
