@import "/haala/mere-cms.css";

#context-navigation .add-webpage { background-image:url(/web/cms-cp/structure-smallnav-addpage.gif); }
#context-navigation .add-file { background-image:url(/web/cms-cp/structure-smallnav-addfile.gif); }
#context-navigation .add-label { background-image:url(/web/cms-cp/structure-smallnav-addlabel.gif); }
#context-navigation .add-setting { background-image:url(/web/cms-cp/structure-smallnav-addsetting.gif); }

.form-panel .cell.no-webpage { padding:10px; text-align:center; }

#label-list { margin-top:20px; }

#label-list .column-1 { width:220px; overflow:hidden; white-space:nowrap; }
#label-list .column-2 { width:580px; overflow:hidden; white-space:nowrap; }
#label-list .column-3 { width:48px; margin-left:20px;}

#label-list .rows .data { height:30px; }
#label-list .rows p { height:20px; float:left; padding:5px; }

#setting-list { margin-top:20px; }

#setting-list .column-1 { width:220px; overflow:hidden; white-space:nowrap; }
#setting-list .column-2 { width:580px; overflow:hidden; white-space:nowrap; }
#setting-list .column-3 { width:48px; margin-left:20px;}

#setting-list .rows .data { height:30px; }
#setting-list .rows p { height:20px; float:left; padding:5px; }

#setting-list .filter .key { width:220px; margin-right:5px; }
#setting-list .filter .value { width:560px; }

#file-list { margin-top:20px; }

#file-list .column-1 { width:500px; overflow:hidden; white-space:nowrap; }
#file-list .column-2 { width:300px; overflow:hidden; white-space:nowrap; }
#file-list .column-3 { width:48px; margin-left:20px;}

#file-list .rows .data { height:30px; }
#file-list .rows p { height:20px; float:left; padding:5px; }

#add-webpage-frame .form-panel { border:0; padding:10px 0 0 0; }

#add-label-frame .form-panel { border:0; padding:10px 0 0 0; width:345px; }
#add-label-frame .form-panel select,
#add-label-frame .form-panel input { width:200px; }
#add-label-frame .form-panel .error { width:190px; }

#add-setting-frame .form-panel { border:0; padding:10px 0 0 0; width:345px; }
#add-setting-frame .form-panel select,
#add-setting-frame .form-panel input { width:200px; }
#add-setting-frame .form-panel .error { width:190px; }

#add-file-frame .form-panel { border:0; padding:10px 0 0 0; width:345px; height:75%; }
#add-file-frame .form-panel select,
#add-file-frame .form-panel input { width:200px; }
#add-file-frame .form-panel .error { width:190px; }
#add-file-frame .upload { width:100%; height:10%; text-align:center; }
#add-file-frame .upload input { margin-top:5px; }

.contextMenu { width: 140px; }

.item-list .rows { min-height:100px; }
