
#context-navigation .edit-site { background-image:url(/web/cms-cp/web-smallnav-editsite.gif); }
#context-navigation .structure { background-image:url(/web/cms-cp/web-smallnav-structure.gif); }
#context-navigation .editor { background-image:url(/web/cms-cp/web-smallnav-editor.gif); }

.form-panel .cell.no-domain { padding:10px; text-align:center; }
.form-panel .tabs { padding-bottom:10px; }
.form-panel .cell.fav-icon { padding-top:10px; float:left; }
.form-panel .cell.fav-icon img { width:32px; height:32px; border:1px solid; float:left; margin-left: 50px; /* css::class { css = theme; class = .color-x-title } */ }
.form-panel .file-upload { padding-top:15px; float:right; }
