
#content .form-panel .cell .option-row { margin-left:140px; }
#content .form-panel .cell .option-row * { font-size:11px; }
#content .form-panel .cell .option-row .option { float:left; padding:0 2px 0 2px; width:175px; }
#content .form-panel .cell .option-row input[type=checkbox] { float:left; }
#content .form-panel .cell .option-row input[type=text] { margin:2px 15px 2px 10px; float:right; width:25px; }
#content .form-panel .cell .option-row select { margin:2px 15px 2px 10px; float:right; width:50px; }
#content .form-panel .cell .option-row p { float:left; margin:2px 0 0 2px; }

#content .form-panel .cell .text-row { margin-left:140px; }
#content .form-panel .cell .text-row * { font-size:11px; }
#content .form-panel .cell .text-row input { width:170px; margin:2px 5px 2px 0; }
#content .form-panel .cell .text-row p { cursor:pointer; padding:0 0 0 10px; text-decoration:underline; display:inline-block; }
