
.navigation-pane .remove { background-image:url(/web/toyshop/smallnav-deleteproduct.png); }
.navigation-pane .details { background-image:url(/web/toyshop/nav-productdetails.png); }
.navigation-pane .gallery { background-image:url(/web/toyshop/nav-productgallery.png); }
.navigation-pane .price { background-image:url(/web/toyshop/nav-productprice.png); }
.navigation-pane .warehouse { background-image:url(/web/toyshop/nav-productwarehouse.png); }
.navigation-pane .props { background-image:url(/web/toyshop/nav-productprops.png); }
