
#content #upload-form { width:450px; }
#content #upload-form .expand { display:block; float:right; cursor:pointer; width:16px; height:16px; margin:2px 8px 0 0; background:url(/web/icon-add.gif) no-repeat; }
#content #upload-form .slide { display:none; }

#content #page-form { padding-top:20px; display:none; }
#content .form-panel .face-item { border:1px solid; border-width:1px 0 0 0; /* css::class { css = theme; class = .color-ui-widget-content } */ }
#content .form-panel .face-item { margin:0 -10px 0 -10px; text-align:center; padding:10px 0 10px 0; }
#content .form-panel .face-item:first-child { border:0; padding-top:0; }
#content .form-panel .face-item .img { max-width:780px; }
#content .form-panel .face-item input { width:300px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
#content .form-panel .face-item .icon { display:inline-block; cursor:pointer; width:16px; height:16px; margin:4px 4px 0 4px; }
#content .form-panel .face-item .move-up { background:url(/web/icon-up.gif) no-repeat; }
#content .form-panel .face-item .move-down { background:url(/web/icon-down.gif) no-repeat; }
#content .form-panel .face-item .remove { background:url(/web/icon-remove.gif) no-repeat; margin-left:20px; }
