
#content #product-list { padding:10px 0 10px 10px; }
#content #product-list .data-item { padding:5px; margin:5px; float:left; border:1px solid #ccc; border-radius:8px; height: 190px; }
#content #product-list .data-item img { width:200px; }
#content #product-list .data-item a { text-decoration:none; }
#content #product-list .data-item p { text-align:center; }
#content #product-list .data-item p.name { font-size:14px; letter-spacing:1px; }

.navigation-pane .add-product { background-image:url(/web/toyshop/smallnav-addproduct.png); }
