@import "/haala/mere-cms.css";

#file-list .column-1 { width:500px; overflow:hidden; white-space:nowrap; }
#file-list .column-2 { width:300px; overflow:hidden; white-space:nowrap; }
#file-list .column-3 { width:48px; margin-left:20px;}

#file-list .rows .data { height:30px; }
#file-list .rows p { height:20px; float:left; padding:5px; }

#add-file-frame .form-panel { border:0; padding:10px 0 0 0; width:345px; height:75%; }
#add-file-frame .form-panel select,
#add-file-frame .form-panel input { width:200px; }
#add-file-frame .form-panel .error { width:190px; }
#add-file-frame .upload { width:100%; height:10%; text-align:center; }
#add-file-frame .upload input { margin-top:5px; }

#context-navigation .add { background-image:url(/web/file-cp/files-smallnav-add.gif); }
