<html>
  <head><title>Sitemap</title></head>
  <body>
    <h3>Generated on $LastMod</h3>
    <a href="/">Homepage</a><br>
    #foreach ($p in $urls)
      <a href="/$p">$p</a><br>
    #end
  </body>
</html>
