
body { width:920px; }
#left-column, #right-column { display:none; }

.form-panel { width:380px; margin:50px 0 0 240px; }
.form-panel h3.cell { font-size:24px; font-family:Arial; padding:10px; text-align:center; margin-bottom:10px; background:#04698f; color:#FFFFFF; }
.form-panel .cell label { font-size:18px; }
.form-panel .cell input[type=password],
.form-panel .cell input[type=text] { width:230px; height:25px; font-size:18px; font-weight:bold; letter-spacing:2px; text-align:center; }
.form-panel .cell.turing input { letter-spacing:10px; width:230px; font-size:18px; text-align:center; }
.form-panel .cell.title { font-size:18px; padding-top:10px; /* css::class { css = theme; class = .color-x-label } */ }
.form-panel .cell.submit { text-align:right; margin-right:10px; }
.form-panel .cell.submit button { float:right; }
.form-panel .cell.submit .reminder { font-size:14px; font-weight:bold; float:left; margin-left:10px; }
.form-panel .cell.submit .fb-login { float:right; margin-right:10px; }
.form-panel .cell.submit .fb-login .icon { background:url(/web/icon-facebook.png) no-repeat; width:32px; height:32px; margin-top:-2px; }

#content .browser { display:block; height:50px; width:300px; background:url(/web/logo-firefox.png) no-repeat; text-decoration:none; padding-left:60px; margin:20px 0 0 260px; }
#content .browser span { display:block; padding-top:10px; }
