
body { width:920px; }
#left-column, #right-column { display:none; }

.form-panel .cell.privacy input { float:left; }
.form-panel .cell.privacy p { padding-left:40px; }
.form-panel .cell.privacy .error { padding-left:20px; }
