
/* strip::comments */

/* css::import

   { path = web/theme/deepblue-1.11.0; css = jquery-ui }

   { path = web/endorsed/qtip2-2.2.0; css = qtip }

   { path = web/endorsed/context-menu-1.01; css = jquery.contextMenu }

*/


/* Extracted component colors and common colors */

.color-x-text { color:#222222; }
.color-x-title { color:#04698f; }
.color-x-label { color:#04698f; }
.color-x-border { border-color: #04698f; }
.color-x-input-border { border-color:#0789BA; }
.color-x-background { background-color:#ffffff; }
.color-x-background-even { background-color:#E1F9FF; }
.color-x-header-background { background-color:#69cdf3; }
.color-x-tabs-header-border { border-color:#69cdf3; } /* matches header-background */
.color-x-text-hover-background { background-color:#69cdf3; }
.color-x-text-hover { }
.color-x-error { color:#cd0a0a; }




/* Extracted from jquery-ui.css */

/* Component containers
----------------------------------*/
.color-ui-widget-content { border-color: #04698f; background: #ffffff url(ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #000000; }
.color-ui-widget-content a { color: #000000; }
.color-ui-widget-header { border-color: #08a7e2; background: #69cdf3 url(ui-bg_gloss-wave_75_69cdf3_500x100.png) 50% 50% repeat-x; color: #222222; }
.color-ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.color-ui-state-default, .color-ui-widget-content .color-ui-state-default, .color-ui-widget-header .color-ui-state-default { border-color: #04698f; background: #04698f url(ui-bg_glass_65_04698f_1x400.png) 50% 50% repeat-x; color: #ffffff; }
.color-ui-state-default a, .color-ui-state-default a:link, .color-ui-state-default a:visited { color: #ffffff; }
.color-ui-state-hover, .color-ui-widget-content .color-ui-state-hover, .color-ui-widget-header .color-ui-state-hover, .color-ui-state-focus, .color-ui-widget-content .color-ui-state-focus, .color-ui-widget-header .color-ui-state-focus { border-color: #08a7e2; background: #08a7e2 url(ui-bg_glass_75_08a7e2_1x400.png) 50% 50% repeat-x; color: #ffffff; }
.color-ui-state-hover a, .color-ui-state-hover a:hover { color: #ffffff; }
.color-ui-state-active, .color-ui-widget-content .color-ui-state-active, .color-ui-widget-header .color-ui-state-active { border-color: #08a7e2; background: #08a7e2 url(ui-bg_glass_65_08a7e2_1x400.png) 50% 50% repeat-x; color: #000000; }
.color-ui-state-active a, .color-ui-state-active a:link, .color-ui-state-active a:visited { color: #000000; }


/* Interaction Cues
----------------------------------*/
.color-ui-state-highlight, .color-ui-widget-content .color-ui-state-highlight, .color-ui-widget-header .color-ui-state-highlight  { border-color: #08a7e2; background: #08a7e2 url(ui-bg_glass_55_08a7e2_1x400.png) 50% 50% repeat-x; color: #000000; }
.color-ui-state-highlight a, .color-ui-widget-content .color-ui-state-highlight a,.color-ui-widget-header .color-ui-state-highlight a { color: #000000; }
.color-ui-state-error, .color-ui-widget-content .color-ui-state-error, .color-ui-widget-header .color-ui-state-error { border-color: #cd0a0a; background: #fef1ec url(ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a; }
.color-ui-state-error a, .color-ui-widget-content .color-ui-state-error a, .color-ui-widget-header .color-ui-state-error a { color: #cd0a0a; }
.color-ui-state-error-text, .color-ui-widget-content .color-ui-state-error-text, .color-ui-widget-header .color-ui-state-error-text { color: #cd0a0a; }
.color-ui-priority-secondary, .color-ui-widget-content .color-ui-priority-secondary,  .color-ui-widget-header .color-ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); }
.color-ui-state-disabled, .color-ui-widget-content .color-ui-state-disabled, .color-ui-widget-header .color-ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }


/* Icons
----------------------------------*/
.ui-icon { background-image: url("ui-icons_000000_256x240.png"); }
