
.navigation-pane .view,
.navigation-pane .save,
.navigation-pane .delete { float:right; }

.form-panel { margin-top:10px; }

#context-navigation .add-picture { background-image:url(/web/cms-cp/editor/editpage-smallnav-addpicture.png); }

.navigation-pane .page { background-image:url(/web/cms-cp/editor/editpage-smallnav-page.png); }
.navigation-pane .system { background-image:url(/web/cms-cp/editor/editpage-smallnav-system.png); }
.navigation-pane .delete { background-image:url(/web/cms-cp/editor/editpage-smallnav-delete.png); }
.navigation-pane .save { background-image:url(/web/cms-cp/editor/editpage-smallnav-save.png); }
.navigation-pane .view { background-image:url(/web/cms-cp/editor/editpage-smallnav-view.png); }

#system-form { display:none; }

#save-form { display:none; }
#save-form .click { text-align:center; clear:both; padding:10px 0 0 0; font-weight:bold; }
#save-form .notes span { font-weight:bold; }
#save-form .notes .index,
#save-form .notes .template { display:none; }

#delete-form { display:none; }
#delete-form .click { text-align:center; clear:both; padding:10px 0 0 0; font-weight:bold; }
#delete-form .notes span { font-weight:bold; }
#delete-form .notes p { padding:2px 0 2px 0; }

#view-form { display:none; }
#view-form .click { text-align:center; clear:both; padding:10px 0 0 0; font-weight:bold; }

#page-form textarea { height:45px; }
#page-form textarea.expanded { height:600px; }
#page-form textarea.rich { height:600px; }
#page-form .expander { cursor:pointer; }
#page-form .expand { display:none; }
#page-form a.icon { display:block; width:16px; height:16px; float:left; margin:5px 5px 0 5px; }
#page-form a.save { background-image:url(/web/cms-cp/editor/editpage-icon-save.png); display:none; }
#page-form a.rich { background-image:url(/web/cms-cp/editor/editpage-icon-rich.png); }
#page-form a.links { background-image:url(/web/cms-cp/editor/editpage-icon-fix.png); display:none; }
#page-form a.backup { background-image:url(/web/cms-cp/editor/editpage-icon-backup.png); }

#picture-list { margin-top:10px; }
#picture-list .rows { min-height:100px; }
#picture-list .rows .empty,
#picture-list .rows .data { height:100px; width:85px; float:left; padding:10px 2px 10px 2px; text-align:center; }
#picture-list .rows .data { cursor:pointer; }
#picture-list .rows .data:first-child { width:93px; }
#picture-list .rows .data div { height:80px; width:100%; }
#picture-list .rows .data img { max-height:100%; max-width:100%; }
#picture-list .rows .data p { font-size:11px; padding-top:10px; height:18px; overflow:hidden; }
#picture-list .expander { cursor:pointer; }
#picture-list .expand { display:none; }

#add-file-frame .form-panel { border:0; padding:10px 0 0 0; width:345px; height:75%; margin-top:0; }
#add-file-frame .form-panel select,
#add-file-frame .form-panel input { width:200px; }
#add-file-frame .form-panel .error { width:190px; }
#add-file-frame .upload { width:100%; height:10%; text-align:center; }
#add-file-frame .upload input { margin-top:5px; }

#page-menu-picturelist.contextMenu { width: 140px; }
#page-menu-backupfile.contextMenu { width: 160px; }
