
#context-navigation .add-webpage { background-image:url(/web/cms-cp/editor/main-smallnav-addpage.png); }

#page-mappings .head p { width:100%; }
#page-mappings .head p span { font-size:12px; display:block; float:right; padding-right:10px; }

#page-mappings .data a { text-decoration:none; }
#page-mappings .data { height:40px; padding:5px; }
#page-mappings .data p { padding:2px 5px 5px 5px; overflow:hidden; }
#page-mappings .data p:first-child { padding-bottom:0; }

#page-mappings a p span:first-child { color:#777; float:left; width:70px; display:none; }
#page-mappings .data:hover a p span:first-child { display:block; color:#E1F9FF; }
#page-mappings .data:hover a p.pattern span { font-weight:bold; }
#page-mappings .data:hover a p.pattern span:first-child { font-weight:normal; }
#page-mappings .data:hover a p.title span { color:#E1F9FF; font-style:normal; }

#page-mappings .title span { font-style:italic; color:#666; }
#page-mappings .title span:first-child { font-style:normal; }

#add-webpage-frame .form-panel { border:0; padding:10px 0 0 0; }
