
.form-panel { border:0; background:transparent; }
.form-panel .cell { color:#404040; clear:none; }
.form-panel .cell label { color:#404040; font-weight:bold; }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { border-color:#858d66; height:20px; font-size:14px; }
.form-panel .cell textarea { height:200px; width:400px; }
.form-panel .cell .error { color:#cc6600; }
.form-panel .cell.phone input,
.form-panel .cell.name input,
.form-panel .cell.email input { width:400px; }