
#content section { text-align:justify; padding:10px 0 10px 0; }

#home-about { background:#f9ffbb; text-align:center; width:100%; padding:10px 0 20px 0; border-bottom:10px solid #fff; }

#banner { height:350px; background:url(/web/banner.jpg) center center no-repeat; }

#column-menu { padding:0; }
