@import "/theme.css";

/* strip::comments */

html, body { margin:0; padding:0; border:0; }
body { margin:10px auto; width:900px; background:#fff; font:14px Arial,sans-serif,Tahoma; color:#404040; }
ul, ol { padding:0 0 0 30px; margin:0; }
p, form, select { margin:0; padding:0; }
input[type=text], input[type=password], textarea { margin:0; padding:1px 0 1px 0; }
a { text-decoration:none; color:#757575; }
a:hover { text-decoration:underline; color:#0088cc; }

h1 { padding:10px 0 10px 0; margin:0; font:24px Arial; }
h2 { padding:0; margin:8px 0 2px 0; font:22px Tahoma; }
h3 { padding:0; margin:4px 0 0 0; font:20px Tahoma; }

.nofloat { clear:both; font-size:0; height:0; width:0; }
.normal-gap { height:10px; width:10px; }

/* main layout */
header { background:#f9ffbb; height:190px; border-bottom:10px solid transparent;}
header .logo { background:url(/web/logo.png) 0 center no-repeat; width:500px; height:100%; float:left;}
header .logo a { display:block; width:100%; height:100%; }
header .info { float:right; width:180px; font-weight:bold; font-size:16px; padding:20px 20px 0 0; }
header .info p { padding:2px; }
header .info p span { float:right; }

footer { background:#404040; height:60px; color:#999; clear:both; border-top:10px solid #fff; }
footer p { padding:20px 0 0 20px; float:left; }
footer p span { color:#fff; }
footer .vendor { display:block; width:150px; height:28px; background:url(/etc/banner150x28-1.gif) no-repeat; float:right; margin:15px 10px 0 0; }

#content { min-height:500px; width:680px; }

#main-menu { background:#404040; height:45px; text-align:center; }
#main-menu ul { height:100%; padding:0; display:inline-block; }
#main-menu li { float:left; list-style-type:none; padding:0 10px 0 10px; height:100%; margin:0; }
#main-menu a { text-decoration:none; display:block; width:100%; height:100%; color:#eee; padding:0 5px 0 5px; line-height:45px; text-transform:uppercase; }
#main-menu a:hover { background:#2D2D2D; }

#no-object { padding-top:50px; text-align:center; }
#no-object button { margin-top:40px; }

#column-menu { float:right; padding-top:10px; }
#column-menu li { padding:5px 0 0 0; }
#column-menu section { padding:0 0 20px 0; }

#news { float:left; width:50%; padding:10px 0 10px 0; }
#areas { float:right; width:50%; padding:10px 0 10px 0; }

/* label-input panel */
.form-panel { border:1px solid; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.form-panel { padding:10px; }
.form-panel .cell { padding:0 0 10px 0; clear:both; }
.form-panel .cell label { width:135px; float:left; margin-right:5px; /* css::class { css = theme; class = .color-x-label } */ }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { width:675px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
.form-panel .cell input[type=radio],
.form-panel .cell input[type=checkbox] { width:20px; border:0; }
.form-panel .cell textarea { height:80px; vertical-align:text-top; }
.form-panel .cell.submit { padding:10px 0 0 0; text-align:center; }
.form-panel .cell .error { padding:0 0 0 150px; width:400px; font-weight:normal; display:none; /* css::class { css = theme; class = .color-x-error } */ }
.form-panel .cell.turing img { float:left; margin-right:40px; }
.form-panel .cell.turing input { width:160px; }
