
.item-list .column-1 { width:130px; }
.item-list .column-2 { width:190px; }
.item-list .column-3 { width:278px; }

.item-list .rows .data { height:30px; }
.item-list .rows p { height:20px; float:left; padding:5px; }
