
#context-navigation .shell { background-image:url(/web/user-cp/view-smallnav-shell.gif); }
#context-navigation .credit { background-image:url(/web/user-cp/view-smallnav-credit.gif); }
#context-navigation .props { background-image:url(/web/user-cp/view-smallnav-props.png); }
#context-navigation .payment { background-image:url(/web/user-cp/view-smallnav-payment.png); }

#credit-frame .form-panel { border:0; padding:10px 0 0 0; }
#credit-frame .form-panel input { width:145px; }
#credit-frame .form-panel textarea { width:460px; }

#payment-frame .form-panel { border:0; padding:10px 0 0 0; }
#payment-frame .form-panel select,
#payment-frame .form-panel input { width:145px; }
#payment-frame .form-panel textarea { width:460px; }
