.listing { border:1px solid; color: #222222; }
.listing .odd { background-color:#ffffff; }
.listing .even { background-color:#E1F9FF; }
.listing .data:hover { background-color:#2191c0; }
.listing .col-1,
.listing .col-2 { padding:5px 0 5px 5px;; margin:0; display:inline-block; width:100px; }

.pagination .next,
.pagination .prev {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("/theme-deepblue-1.12.1-xx1/ui-icons_0078ae_256x240.png");
    width: 16px;
    height: 16px;
}
.pagination .next { background-position: -112px -192px; }
.pagination .prev { background-position: -144px -192px; }

.sortcolumn .arrow.asc,
.sortcolumn .arrow.desc {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("/theme-deepblue-1.12.1-xx1/ui-icons_0078ae_256x240.png");
    width: 16px;
    height: 16px;
}
.arrow.asc { background-position: -64px -48px; }
.arrow.desc { background-position: 1px -48px; }

.sortcolumn .col-1,
.sortcolumn .col-2 { padding:5px 0 5px 5px;; margin:0; display:inline-block; width:100px; }
