
#context-navigation .start-fwd-email { background-image:url(/web/message-cp/messages-smallnav-fwd.gif); display:none; }
#context-navigation .stop-fwd-email { background-image:url(/web/message-cp/messages-smallnav-nofwd.gif); display:none; }
#context-navigation .delete-read { background-image:url(/web/message-cp/messages-smallnav-delete.gif); }

.item-list .column-1 { width:30px; }
.item-list .column-2 { width:140px; }
.item-list .column-3 { width:698px; overflow:hidden; white-space:nowrap; }

.item-list .rows .data { height:30px; }
.item-list .rows p { height:20px; float:left; padding:5px; }
.item-list .rows .unread { background:url(/web/message-cp/messages-icon-unread.gif) center no-repeat; }

