
#context-navigation .abyss { background-image:url(/web/message-cp/view-smallnav-abyss.gif); }
#context-navigation .email { background-image:url(/web/message-cp/view-smallnav-email.gif); }

.form-panel .two-column .cell label { width:100px; }
.form-panel .cell.text { border:1px solid; border-width:1px 0 0 0 !important; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.form-panel .cell.text { padding:10px 10px 0 10px; margin:0 -10px 0 -10px; }
