
body { width:920px; }
#left-column, #right-column { display:none; }

.form-panel { width:580px; margin:0 0 0 150px; }
.form-panel h3.cell { font-size:24px; font-family:Arial; padding:10px; text-align:center; margin-bottom:10px; background:#04698f; color:#FFFFFF; }
.form-panel .cell label { font-size:18px; }
.form-panel .cell textarea,
.form-panel .cell input[type=text] { width:430px; height:25px; font-size:14px; font-weight:bold; letter-spacing:2px; }
.form-panel .cell textarea { height:150px; }
.form-panel .cell.turing input { letter-spacing:10px; width:230px; font-size:18px; text-align:center; }
.form-panel .cell.title { font-size:18px;  /* css::class { css = theme; class = .color-x-title } */  }
.form-panel .cell.submit { text-align:right; margin-right:10px; }

