@import "/theme.css";

/* strip::comments */


/* Common style */

html, body { margin:0; padding:0; border:0; }
body { margin:10px auto; width:1440px; background:#000; font:12px Tahoma, Arial, Helvetica, sans-serif; /* css::class { css = theme; class = .color-x-text } */ }
ul, ol { padding:0 0 0 30px; margin:0; }
p, form, select { margin:0; padding:0; }
input[type=text], input[type=password], textarea { margin:0; padding:1px 0 1px 0; }
a { text-decoration:underline; /* css::class { css = theme; class = .color-x-text } */ }

h1 { padding:10px 0 10px 0; margin:0; font:24px Georgia; /* css::class { css = theme; class = .color-x-label } */ }
h2 { padding:0; margin:8px 0 2px 0; font:24px Tahoma; /* css::class { css = theme; class = .color-x-label } */ }
h3 { padding:0; margin:4px 0 0 0; font:20px Tahoma; /* css::class { css = theme; class = .color-x-label } */ }

.nofloat { clear:both; font-size:0; height:0; width:0; }
.normal-gap { height:10px; width:10px; }


/* Main layout */

#mainmenu { background:#02A2E0; height:30px; }
#mainmenu a { display:block; height:25px; padding:5px 20px 0 20px; float:right; margin-left:10px; text-decoration:none; color:#FFFFFF; font-size:14px; text-shadow:1px 1px 2px #666666; }
#mainmenu a:hover { background:#00B1F6; }

nav h1 { margin:0; padding:0 20px 0 20px; float:left; color:#fff; background:#04698f; letter-spacing:1px; border:0; height:100%; }
nav .arr { display:block; float:left; border-top:15px solid transparent; border-bottom:15px solid transparent; border-left:10px solid #04698f; }

#ajax-frame { display:none; float:left; height:100%; color:#FFCFBD; }
#ajax-frame div { width:25px; height:25px; padding:0 16px 5px 0; background:url(/web/ajax-img.gif) 6px 3px no-repeat #C43500; float:left; }
#ajax-frame p { letter-spacing:4px; font-size:16px; font-weight:bold; padding:4px 0 5px 0; float:left; background:#C43500; }
#ajax-frame .arr:first-child { border-left:10px solid transparent; border-top:15px solid #C43500; border-bottom:15px solid #C43500; }
#ajax-frame .arr { border-left:10px solid #C43500; }

header { background-color:#242424; height:80px; border-bottom:10px solid #000; }
header .logo { float:left; height:80px; width:400px; background:url(/web/header-logo.gif) 30px 20px no-repeat #242424;}
header .home { width:100%; height:100%; }

#change-site { float:right; padding:20px 20px 0 0; }
#change-site a { width:27px; height:17px; margin:0 0 0 10px; display:inline-block; }
#change-site .en { background:url(/web/icon-flag-uk.gif) no-repeat; }
#change-site .ru { background:url(/web/icon-flag-ru.gif) no-repeat; }

#quick-navigation-wrap { margin:5px; border:1px solid #CCCCCC; background:#FEFEFE; display:none; }
#quick-navigation { display:none; }
#recently-visited { display:none; }

footer { height:50px; clear:both; background:#242424; color:#CCCCCC; border-top:10px solid #000; }
footer .copyright { float:left; margin:15px 0 0 20px; font-size:14px; }
footer .vendor { display:block; width:150px; height:28px; background:url(/etc/banner150x28-1.gif) no-repeat; float:right; margin:10px 10px 0 0; }

#content { background:#fff; width:900px; padding:10px; min-height:480px; float:left; border-top:10px solid #000; }

#left-column { background:#E5E5E5; width:250px; min-height:500px; float:left; border-top:10px solid #000; border-right:10px solid #000; }

#right-column { background:#E5E5E5; width:250px; min-height:500px; float:right; border-top:10px solid #000; }

#no-object { padding-top:20px; text-align:center; }
#no-object button { margin-top:40px; }

#object-lock { padding-top:10px; text-align:center; }
#object-lock button { margin-top:40px; }

#context-messages { padding:5px; }
#context-messages .note { padding:5px; border:1px solid; }
#context-messages .critical { background:#F9E98E; color:#912323; }
#context-messages .warning { background:#F9E98E; color:#A27D35; }
#context-messages .info { background:#90D93F; color:#3F6219; }


/* Components */

/* label-input panel */
.form-panel { border:1px solid; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.form-panel { padding:10px; }
.form-panel .cell { padding:0 0 10px 0; clear:both; }
.form-panel .cell label { width:135px; float:left; margin-right:5px; /* css::class { css = theme; class = .color-x-label } */ }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { width:730px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
.form-panel .cell .mce-tinymce { margin-left:140px; }
.form-panel .cell input[type=radio],
.form-panel .cell input[type=checkbox] { width:20px; border:0; }
.form-panel .cell textarea { height:80px; vertical-align:text-top; }
.form-panel .cell.submit { padding:10px 0 0 0; text-align:center; }
.form-panel .cell .error { padding:0 0 0 150px; width:723px; font-weight:normal; display:none; /* css::class { css = theme; class = .color-x-error } */ }
.form-panel .cell.turing img { float:left; margin-right:40px; }
.form-panel .cell.turing input { width:160px; }

.form-panel h3.cell { /* css::class { css = theme; class = .color-ui-widget-header } */ }
.form-panel h3.cell { padding:5px 0 5px 20px; margin:0 -10px 5px -10px; font-size:14px; font-weight:bold; /* css::class { css = theme; class = .color-x-title } */ }
.form-panel h3.cell:first-child { margin-top:-10px; }

/* split panel into 2 equal columns */
.form-panel .two-column .cell { width:49%; }
.form-panel .two-column .cell input[type=text],
.form-panel .two-column .cell input[type=password],
.form-panel .two-column .cell textarea,
.form-panel .two-column .cell select { width:285px; }
.form-panel .two-column .cell input[type=radio],
.form-panel .two-column .cell input[type=checkbox] { width:20px; }
.form-panel .two-column .cell.left { float:left; }
.form-panel .two-column .cell.right { float:right; clear:none; }
.form-panel .two-column .cell .error { width:275px; }

/* align inputs to the right (not aligned properly when label is too long) */
.form-panel .input-right .cell { min-height:20px; }
.form-panel .input-right .cell label { float:none; }
.form-panel .input-right .cell input,
.form-panel .input-right .cell textarea,
.form-panel .input-right .cell select { float:right; }

/* embedded jQuery tabs */
.form-panel .tabs { clear:both; padding:0; margin:0 -10px 0 -10px; }
.form-panel .tabs.opener { margin-top:-10px; }
.form-panel .tabs .ui-tabs-panel { padding:10px 10px 0 10px; margin:0; }
.form-panel .tabs .ui-widget-header { padding:4px 0 0 4px; border-width:0 0 2px 0; /* css::class { css = theme; class = .color-x-tabs-header-border } */ }
.form-panel .tabs.ui-widget { border:0; }
.form-panel .tabs.ui-corner-all, .form-panel .tabs.ui-corner-top, .form-panel .tabs.ui-corner-left, .form-panel .tabs.ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
.form-panel .tabs.ui-corner-all, .form-panel .tabs.ui-corner-top, .form-panel .tabs.ui-corner-right, .form-panel .tabs.ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
.form-panel .tabs.ui-corner-all, .form-panel .tabs.ui-corner-bottom, .form-panel .tabs.ui-corner-left, .form-panel .tabs.ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.form-panel .tabs.ui-corner-all, .form-panel .tabs.ui-corner-bottom, .form-panel .tabs.ui-corner-right, .form-panel .tabs.ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 4px; }

/* file upload (file inputs cannot be stretched) */
.form-panel .file-upload .cell { width:425px; }
.form-panel .file-upload .cell input { width:250px; }
.form-panel .file-upload .cell span { display:block; float:right; cursor:pointer; width:16px; height:16px; margin:2px 0 0 0; background:url(/web/icon-remove.gif) no-repeat; }

.page-spread * { display:inline-block; }
.page-spread .gap,
.page-spread a { float:left; text-align:center; width:25px; height:16px; text-align:center; text-decoration:none; }
.page-spread a .next { /* css::class { css = theme; class = .ui-icon, .ui-icon-circle-arrow-e } */ }
.page-spread a .next { margin-top:1px; float:right; }
.page-spread a .prev { /* css::class { css = theme; class = .ui-icon, .ui-icon-circle-arrow-w } */ }
.page-spread a .prev { margin-top:1px; }
.page-spread a.current { font-weight:bold; font-size:14px; }
.page-spread a:hover { font-weight:bold; }

.item-list { border:1px solid; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.item-list .head { border:0 !important; /* css::class { css = theme; class = .color-ui-widget-header } */ }
.item-list .head { height:30px; clear:both; }
.item-list .head p,
.item-list .head a { float:left; display:block; padding:5px; margin:0; font-size:14px; text-decoration:none; /* css::class { css = theme; class = .color-x-title } */ }
.item-list .head .asc .arrow { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-s } */ }
.item-list .head .asc .arrow { vertical-align:top; display:inline-block; }
.item-list .head .desc .arrow { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-n } */ }
.item-list .head .desc .arrow { vertical-align:top; display:inline-block; }
.item-list .head .arrow.asc { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-s } */ }
.item-list .head .arrow.asc { vertical-align:top; display:inline-block; }
.item-list .head .arrow.desc { /* css::class { css = theme; class = .ui-icon, .ui-icon-arrowthick-1-n } */ }
.item-list .head .arrow.desc { vertical-align:top; display:inline-block; }
.item-list h3.head { height:20px; font-size:12px; padding:2px; margin:0; text-align:center; border-bottom:1px dashed; /* css::class { css = theme; class = .color-x-title, .color-x-border } */ }
.item-list .foot { /* css::class { css = theme; class = .color-ui-widget-header } */ }
.item-list .foot { height:30px; clear:both; text-align:center; }
.item-list .foot .page-spread { padding-top:5px; display:inline-block; }
.item-list .filter { /* css::class { css = theme; class = .color-ui-widget-header } */ }
.item-list .filter input { width:790px; margin:2px 20px 5px 2px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
.item-list .filter span { vertical-align:top; display:inline-block; width:16px; height:16px; margin:2px 5px 0 5px; cursor:pointer; }
.item-list .filter .on { background:url(/web/icon-filter.gif) no-repeat; }
.item-list .filter .off { background:url(/web/icon-remove.gif) no-repeat; }
.item-list .rows { min-height:200px; }
.item-list .rows .data,
.item-list .rows .empty { height:20px; }
.item-list .rows .even { /* css::class { css = theme; class = .color-x-background-even } */ }
.item-list .rows .data:hover { /* css::class { css = theme; class = .color-x-text-hover-background } */ }

.navigation-pane { clear:both; }
.navigation-pane a { display:block; width:120px; height:40px; float:left; text-align:center; margin:10px 10px 10px 5px; padding-top:80px; cursor:pointer; text-decoration:none; background:center 5px no-repeat #FFFFFF; border-radius:8px; background-size:72px 72px; }
.navigation-pane.small a { width:65px; height:20px; padding-top:40px; margin:10px 5px 5px 10px; background-size:32px 32px; }

.quick-navigation { padding:5px; }
.quick-navigation p { padding-bottom:2px; border-bottom:1px solid; font-weight:bold; font-size:14px; /* css::class { css = theme; class = .color-x-label, .color-x-border } */ }
.quick-navigation a { text-decoration:none; display:block; margin:4px 0 0 0; padding:2px 0 2px 0; }
.quick-navigation a:hover { /* css::class { css = theme; class = .color-x-text-hover, .color-x-text-hover-background } */ }
