#label-list .column-1 { width:220px; overflow:hidden; white-space:nowrap; }
#label-list .column-2 { width:580px; overflow:hidden; white-space:nowrap; }
#label-list .column-3 { width:48px; margin-left:20px;}

#label-list .rows .data { height:30px; }
#label-list .rows p { height:20px; float:left; padding:5px; }

#edit-frame .form-panel { border:0; padding:10px 0 0 0; }

#context-navigation .add { background-image:url(/web/label-cp/labels-smallnav-add.gif); }
