
.form-panel { border:0; background:transparent; }
.form-panel .cell { color:#fff; }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { border-color:#858d66; height:20px; font-size:14px; }
.form-panel .cell textarea { height:300px; }
.form-panel .cell .error { color:#cc6600; }
.form-panel .cell.name input,
.form-panel .cell.email input { width:400px; }

section.contact p { padding:5px; }
section.contact .link,
section.contact a { color:#63A600; text-decoration:none; }

