
body { background:url(/web/body-bg-long.gif) repeat-x #2E3037; }

header { height:530px; }

#slider { height:350px; width:1180px; background-color:#FFFFFF; overflow:hidden; clear:both; }
#slider .anchors { position:absolute; margin:305px 0 0 880px; }
#slider .anchors .first { width:5px; height:27px; display:block; float:left; background:url(/web/slider-anchor-first.gif) no-repeat; }
#slider .anchors .last { width:5px; height:27px; display:block; float:left; background:url(/web/slider-anchor-last.gif) no-repeat; }
#slider .anchors a { font-size:16px; text-decoration:none; padding:2px 5px 0 5px; width:20px; height:25px; display:block; float:left; background:url(/web/slider-anchor-bg.gif) repeat-x; text-align:center; }
#slider .anchors a.highlight,
#slider .anchors a:hover { font-size:20px; }
#slider .card .left { float:left; height:335px; overflow:hidden; }
#slider .card .left img { width:840px;  }
#slider .card .stripe { width:840px; height:50px; font-size:22px; margin:285px 0 0 15px; position:absolute; background-color:#000000; opacity:0.5; filter:alpha(opacity=50); }
#slider .card h1 { width:840px; font-size:22px; color:#FFFFFF; margin:295px 0 0 15px; padding:0; text-align:center; position:absolute; }
#slider .card img { margin:15px 0 0 15px; }
#slider .card .text { float:left; width:285px; padding-left:20px; height:295px; overflow:hidden; }
#slider .card .text h2 { font-size:26px; color:#9DC740; padding:10px 0 10px 0; margin:0; }
#slider .card .text p { font:bold 16px Arial; }
