@import "/theme.css";

/* strip::comments */

ul, ol { padding:0 0 0 30px; margin:0; }
p, form, select { margin:0; padding:0; }
input[type=text], input[type=password], textarea { margin:0; padding:1px 0 1px 0; }
a { text-decoration:underline; color:#222222;  }

h1 { padding:0; margin:8px 0 5px 0; font:24px Tahoma; color:#000; }
h2 { padding:0; margin:8px 0 2px 0; font:20px Tahoma; color:#fff; }
h3 { padding:0; margin:4px 0 0 0; font:18px Tahoma; color:#fff; }

.nofloat { clear:both; font-size:0; height:0; width:0; }
.normal-gap { height:10px; width:10px; }


body { margin:10px auto; width:1180px; color:#000000; background:url(/web/body-bg.gif) repeat-x #2E3037; font:12px Tahoma, Arial, Helvetica, sans-serif; }

header { height:276px; }
header h3 { margin:15px 0 0 200px; font-size:18px; font-style:italic; color:#40424C; font-weight:bold; }
header .logo { padding:0 0 0 170px; height:90px; width:650px; background:url(/web/logo.gif) no-repeat; cursor:pointer; background-size:350px; float:left; }
header .title { padding:10px 0 0 280px; clear:both; }
header .title p { font-size:16px; }
header .enquiry { width:250px; margin:30px 0 0 0; float:right; }
header .enquiry p { font:24px Arial; color:#2E3037; }
header .enquiry a { font-size:14px; text-decoration:none; color:#2E3037; }
header .enquiry div { position:absolute; width:42px; height:42px; background:url(/web/icon-call.gif) no-repeat; top:10px; margin:0 0 0 208px; }

#mainmenu { height:40px; float:right; padding:7px 0 23px 0; }
#mainmenu * { float:left; height:40px; }
#mainmenu .first { background:url(/web/mainmenu-first.gif) no-repeat; width:10px; }
#mainmenu .last { background:url(/web/mainmenu-last.gif) no-repeat; width:10px; }
#mainmenu .separator { background:url(/web/mainmenu-separator.gif) no-repeat; width:5px; }
#mainmenu a { display:block; text-decoration:none; color:#FFFFFF; background:url(/web/mainmenu-bg.gif) repeat-x; width:118px; height:30px; text-align:center; padding-top:10px; font-weight:bold; font-size:14px; }
#mainmenu a:hover, #mainmenu .expand { background:url(/web/mainmenu-bg-hover.gif) repeat-x; color:#08FF08; }
#mainmenu .highlight { color:#08FF08; }

.mainmenu-dropdown { display: none; width:150px; z-index:50; background:url(/web/mainmenu-dropdown-bg.gif) repeat-x #0F0F0F; border-radius:6px; -moz-border-radius:6px; }
.mainmenu-dropdown a { display:block; padding:10px 0 10px 10px; border-top:1px dotted #747475; margin:0 10px 0 10px; text-decoration:none; color:#FFFFFF; }
.mainmenu-dropdown a:hover { background-color:#4B4B50; color:#08FF08; }
.mainmenu-dropdown a.first { border:0; margin-top:5px; }
.mainmenu-dropdown a.last { margin-bottom:5px; }
.mainmenu-dropdown .highlight { color:#08FF08; }

#mainmenu-b { width:170px; }

#sidemenu { padding:0 0 0 10px; }
#sidemenu a { display:block; padding:7px 0 7px 20px; border-top:1px dotted #747475; background:url(/web/sidemenu-bg.gif) left center no-repeat; color:#FFFFFF; text-decoration:none; }
#sidemenu a:first-child { border:0; }
#sidemenu a:hover, #sidemenu .highlight { background:url(/web/sidemenu-bg-hover.gif) left center no-repeat; color:#63A600; }

footer { height:60px; background:url(/web/footer-bg.gif) repeat-x; padding-top:5px; }
footer .copyright { float:left; amargin:15px 0 0 20px; color:#747475; }
footer .vendor { display:block; width:150px; height:28px; background:url(/etc/banner150x28-1.gif) no-repeat; float:right; margin:-25px 0 0 0; }
footer .vendor * { border:none; }
footer nav { padding:10px 0 0 0; width:700px; height:30px; font-size:14px; color:#FFFFFF; }
footer nav a { font-size:12px; text-decoration:none; color:#FFFFFF; }
footer nav a:hover { text-decoration:underline; }

#bottomfill { position:absolute; left:0; margin-top:-65px; height:10px; width:100%; z-index:-10; background:url(/web/footer-bg.gif) repeat-x }

#wrapper { background:url(/web/body-bg-low.gif) no-repeat; min-height:400px; }

#content { width:850px; padding:10px; float:right; color:#fff; font:14px Arial; }
#content section h2 { margin:10px 0 5px 0; font:24px Tahoma; }
#content section h3 { margin:8px 0 2px 0; font:bold 16px Tahoma; }
#content section p { padding:8px 0 8px 0; line-height:18px; }
#content section ul { padding-bottom:8px; line-height:18px; }
#content section a { color:#fff; }

#left-column { width:250px; min-height:100px; float:left; color:#fff; }
#left-column .quickhead { padding:30px 0 30px 0; }
#left-column .quickhead .icon { height:50px; width:70px; float:left; background:url(/web/icon-services.gif) 0 5px no-repeat; }
#left-column .quickhead h3 { font-size:20px; padding:4px 0 4px 0; margin:0; color:#FFFFFF; }

#no-object { width:600px; padding:50px 0 0 0; text-align:center; }
#no-object button { margin-top:40px; }

/* label-input panel */
.form-panel { border:1px solid; /* css::class { css = theme; class = .color-ui-widget-content } */ }
.form-panel { padding:10px; }
.form-panel .cell { padding:0 0 10px 0; clear:both; }
.form-panel .cell label { width:135px; float:left; margin-right:5px; /* css::class { css = theme; class = .color-x-label } */ }
.form-panel .cell input[type=text],
.form-panel .cell input[type=password],
.form-panel .cell textarea,
.form-panel .cell select { width:675px; border:1px solid; /* css::class { css = theme; class = .color-x-input-border } */ }
.form-panel .cell input[type=radio],
.form-panel .cell input[type=checkbox] { width:20px; border:0; }
.form-panel .cell textarea { height:80px; vertical-align:text-top; }
.form-panel .cell.submit { padding:10px 0 0 0; text-align:center; }
.form-panel .cell .error { padding:0 0 0 150px; width:400px; font-weight:normal; display:none; /* css::class { css = theme; class = .color-x-error } */ }
.form-panel .cell.turing img { float:left; margin-right:40px; }
.form-panel .cell.turing input { width:160px; }
