<section>
  <h2>Our team's key professionals</h2>
  <p>
    Abramov, Sergei <br/>
    <a href="http://www.linkedin.com/pub/sergei-abramov/4/ba8/991" target="_blank">LinkedIn profile</a>
  </p>
  <p>
    Djushko, Eduard <br/>
    <a href="http://www.linkedin.com/in/webseoexpert" target="_blank">LinkedIn profile</a>
  </p>
</section>

