
/* strip::comments */

/* css::import

   { path = web/theme/lightness-1.12.1; css = jquery-ui }

   { path = web/endorsed/qtip2-20170510; css = jquery.qtip.min }

   { path = web/endorsed/context-menu-1.01; css = jquery.contextMenu }

*/


/* Extracted component colors and common colors */

.color-x-text { color:#222222; }
.color-x-title { color:#dddddd; }
.color-x-label { color:#dddddd; }
.color-x-border { border-color: #dddddd; }
.color-x-input-border { border-color:#0789BA; }
.color-x-background { background-color:#ffffff; }
.color-x-background-even { background-color:#E1F9FF; }
.color-x-header-background { background-color:#f6a828; }
.color-x-tabs-header-border { border-color:#f6a828; } /* matches header-background */
.color-x-text-hover-background { background-color:#f6a828; }
.color-x-text-hover { }
.color-x-error { color:#cd0a0a; }



/* Extracted from jquery-ui.css */

/* Component containers
----------------------------------*/
.color-ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url("ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x; color: #333333; }
.color-ui-widget-content a { color: #333333; }
.color-ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url("ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x; color: #ffffff; }
.color-ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.color-ui-state-default, .color-ui-widget-content .color-ui-state-default, .color-ui-widget-header .color-ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url("ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x; color: #1c94c4; }
.color-ui-state-default a, .color-ui-state-default a:link, .color-ui-state-default a:visited { color: #1c94c4; }
.color-ui-state-hover, .color-ui-widget-content .color-ui-state-hover, .color-ui-widget-header .color-ui-state-hover, .color-ui-state-focus, .color-ui-widget-content .color-ui-state-focus, .color-ui-widget-header .color-ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url("ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x; color: #c77405; }
.color-ui-state-hover a, .color-ui-state-hover a:hover { color: #c77405; }
.color-ui-state-active, .color-ui-widget-content .color-ui-state-active, .color-ui-widget-header .color-ui-state-active { border: 1px solid #fbd850; background: #ffffff url("ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x; color: #eb8f00; }
.color-ui-state-active a, .color-ui-state-active a:link, .color-ui-state-active a:visited { color: #eb8f00; }

/* Interaction Cues
----------------------------------*/
.color-ui-state-highlight, .color-ui-widget-content .color-ui-state-highlight, .color-ui-widget-header .color-ui-state-highlight  { border: 1px solid #fed22f; background: #ffe45c url("ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x; color: #363636; }
.color-ui-state-highlight a, .color-ui-widget-content .color-ui-state-highlight a,.color-ui-widget-header .color-ui-state-highlight a { color: #363636; }
.color-ui-state-error, .color-ui-widget-content .color-ui-state-error, .color-ui-widget-header .color-ui-state-error { border: 1px solid #cd0a0a; background: #b81900 url("ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat; color: #ffffff; }
.color-ui-state-error a, .color-ui-widget-content .color-ui-state-error a, .color-ui-widget-header .color-ui-state-error a { color: #ffffff; }
.color-ui-state-error-text, .color-ui-widget-content .color-ui-state-error-text, .color-ui-widget-header .color-ui-state-error-text { color: #ffffff; }
.color-ui-priority-secondary, .color-ui-widget-content .color-ui-priority-secondary,  .color-ui-widget-header .color-ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); }
.color-ui-state-disabled, .color-ui-widget-content .color-ui-state-disabled, .color-ui-widget-header .color-ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

.ui-icon { background-image: url("ui-icons_222222_256x240.png"); }
