
#setting-list .column-1 { width:220px; overflow:hidden; white-space:nowrap; }
#setting-list .column-2 { width:580px; overflow:hidden; white-space:nowrap; }
#setting-list .column-3 { width:48px; margin-left:20px;}

#setting-list .rows .data { height:30px; }
#setting-list .rows p { height:20px; float:left; padding:5px; }

#setting-list .filter .key { width:220px; margin-right:5px; }
#setting-list .filter .value { width:560px; }

#edit-frame .form-panel { border:0; padding:10px 0 0 0; }

#context-navigation .add { background-image:url(/web/setting-cp/settings-smallnav-add.gif); }
