
.navigation-pane .add-storage { background-image:url(/web/spam-cp/main-smallnav-addstorage.gif); }
.navigation-pane .start-task { background-image:url(/web/spam-cp/main-smallnav-starttask.gif); }
.navigation-pane .stop-task { background-image:url(/web/spam-cp/main-smallnav-stoptask.gif); }

.form-panel .cell label { width:100px; }

.item-list { margin-top:20px; }

.item-list .column-1 { width:460px; overflow:hidden; white-space:nowrap; }
.item-list .column-2 { width:148px; }

.item-list .rows .data { height:30px; }
.item-list .rows p { height:20px; float:left; padding:5px; }
